.table-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 100%;
  width: 50%;
  margin: auto;
}

.red-text {
  color: red;
}

.green-text {
  color: green;
}